.header-wrapper {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

li {
  display: inline-block;
  padding: 0 10px;
}

.flex-row {
  display: flex;
  padding: 0 15px;
  height: 100%;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.nowrap {
  flex-wrap: nowrap;
}

a.active {
  color: #f2ff00;
}
